.testBenchGridContainer {
    display: grid;
    grid-template-columns: 30em auto;
    grid-gap: 0.5em;
    background-color: #2196F3;
    padding: 0.5em;
    height: 100vh;
    width: 100vw;
}

.testBenchGridContainer > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5em 0.5em;
  }




.testBenchMenuCell {
    font-size: 14pt;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

.testBenchTestMenu {
    margin-bottom: 0.5em;
}

.testBenchMenuContent {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    position: absolute;
    top: 4em; 
    bottom: 0;
    left: 0.5em;
    right: 0;
    overflow: scroll;
}





.testBenchResultCell {
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

.testBenchResultMenu {
    position: absolute;
    top: 0.5em; 
    left: 0.5em; 
}

.testBenchResultContent {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
    font-size: 12pt;
    position: absolute;
    top: 4em; 
    bottom: 0;
    left: 0.5em;
    right: 0;
    overflow: scroll;
}